<IfModule mod_rewrite.c>
    RewriteEngine On

    # Protect includes directory
    RewriteRule ^includes/ - [F,L]
</IfModule>

<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

AddDefaultCharset UTF-8

# PHP error handling
php_flag display_errors Off
php_flag log_errors On
