<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- "development" for TestFlight & debug builds, "production" for App Store.
         Xcode auto-switches this when building for Release archives if you
         use Automatic Signing. -->
    <key>aps-environment</key>
    <string>development</string>
</dict>
</plist>
